name: Code Check

on:
  push:
    tags-ignore:
      - "*"
    branches: [main]
    paths-ignore:
      - "**.md"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint-and-format:
    name: Lint and Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - name: Biome Version
        run: biome -V
      - name: format
        run: biome format
      - name: lint
        run: biome lint

  secretlint:
    name: Secretlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: 'npm'
      - name: lint
        run: npx @secretlint/quick-start@11.2.5 "**/*"

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: 'npm'
      - run: npm ci
      - name: type check
        run: npm run typecheck
