name: LatestRelease

on:
  # Run a workflow when a release has been released
  # @see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release
  release:
    types: [released]

jobs:
  latest-release:
    # Do not run if the release is a prerelease or draft
    # @see https://docs.github.com/en/webhooks-and-events/webhooks/webhook-events-and-payloads#release
    if: ${{ github.event.release.prerelease == false && github.event.release.draft == false }}

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: publish
        run: npm publish
